<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link href="../static/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    <title>Schedule university</title>
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar"></div>
</header>
<div class="text-center">Faculty
    <div class="flex-container-table">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${faculty.id}"></td>
                <td th:text="${faculty.name}">
                </td>
                <td>
                    <a class="btn btn-sm" th:href="@{/faculties/edit/{id}(id=${faculty.id})}">
                        <span>Edit</span>
                    </a>
                    <a class="btn btn-danger" th:href="@{/faculties/delete/{id}(id=${faculty.id})}">
                        <span>Delete</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="text-center">
    Groups
    <div class="flex-container-table">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="each_group, iter:${groups}">
                <td th:text="${each_group.id}"></td>
                <td>
                    <a style="text-decoration: none; color: black"
                       th:href="@{'/groups/'} + ${groups.get(iter.index).getId()}"
                       th:text="${each_group.name}"></a>
                </td>
                <td>
                    <a class="btn btn-sm" th:href="@{/groups/edit/{id}(id=${each_group.id})}">
                        <span>Edit</span>
                    </a>
                    <a class="btn btn-danger" th:href="@{/groups/delete/{id}(id=${each_group.id})}">
                        <span>Delete</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    Teachers
    <div class="flex-container-table">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Middle Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="each_teacher, iter:${teachers}">
                <td th:text="${each_teacher.id}"></td>
                <td>
                    <a style="text-decoration: none; color: black"
                       th:href="@{'/teachers/'} + ${teachers.get(iter.index).getId()}"
                       th:text="${each_teacher.firstName}"></a>
                </td>
                <td>
                    <a style="text-decoration: none; color: black"
                       th:href="@{'/teachers/'} + ${teachers.get(iter.index).getId()}"
                       th:text="${each_teacher.lastName}"></a>
                </td>
                <td>
                    <a style="text-decoration: none; color: black"
                       th:href="@{'/teachers/'} + ${teachers.get(iter.index).getId()}"
                       th:text="${each_teacher.middleName}"></a>
                </td>
                <td>
                    <a class="btn btn-sm" th:href="@{/teachers/edit/{id}(id=${each_teacher.id})}">
                        <span>Edit</span>
                    </a>
                    <a class="btn btn-danger" th:href="@{/teachers/delete/{id}(id=${each_teacher.id})}">
                        <span>Delete</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
