<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link href="../static/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    <title>Schedule university</title>
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar"></div>
</header>

<div class="flex-container-table" th:switch="${lectures}">
    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Number</th>
            <th scope="col">Date</th>
            <th scope="col">Start time</th>
            <th scope="col">Audience</th>
            <th scope="col">Group</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="each_lecture: ${lectures}">
            <td th:text="${each_lecture.id}"></td>
            <td th:text="${each_lecture.number}"></td>
            <td th:text="${each_lecture.date}"></td>
            <td>
				<span th:each="each_lesson : ${each_lecture.lesson}">
					<span th:text="${each_lesson.startTime}"></span>
				</span>
            </td>
            <td>
				<span th:each="each_audience : ${each_lecture.audience}">
					<span th:text="${each_audience.number}"></span>
				</span>
            </td>
            <td>
				<span th:each="each_group : ${each_lecture.group}">
					<span th:text="${each_group.name}"></span>
				</span>
            </td>

            <td>
                <a class="btn btn-sm" th:href="@{/lectures/edit/{id}(id=${each_lecture.id})}">
                    <span>Edit</span>
                </a>
                <a class="btn btn-danger" th:href="@{/lectures/delete/{id}(id=${each_lecture.id})}">
                    <span>Delete</span>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<div class="wrapper">
    <div class="container">
        <h5>Save Lecture</h5>
        <form method="post" th:action="@{/lectures/add}" th:object="${lecture}">
            <label>
                Select a Date:
                <input class="input_" placeholder="Lecture Date" required th:field="*{date}" type="date">
            </label>
            <div th:if="${fieldErrors != null}">
                <div class="form-row">
                    <div class="col">
                        <div th:each="fieldError, iter: ${fieldErrors}">
                            <div class="alert alert-danger" style="color: red"
                                 th:if="${fieldError.getField() == 'date'}"
                                 th:text="${fieldError.getDefaultMessage()}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <label>
                Select a Number:
                <input class="input_" placeholder="Lecture Number" required th:field="*{number}" type="number">
            </label>
            <div class="row" th:if="${fieldErrors != null}">
                <div class="form-row">
                    <div class="col">
                        <div th:each="fieldError, iter: ${fieldErrors}">
                            <div class="alert alert-danger" style="color: red"
                                 th:if="${fieldError.getField() == 'number'}"
                                 th:text="${fieldError.getDefaultMessage()}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-inline-block">
                <label>Select a Audience:</label>
                <label>
                    <select class="input_" required th:field="*{audience}">
                        <th:block th:each="audience:${allAudiences}">
                            <option th:text="${audience.number}" th:value="${audience.id}"></option>
                        </th:block>
                    </select>
                </label>
                <br>
                <label>Select a Group:</label>
                <label>
                    <select class="input_" required th:field="*{group}">
                        <th:block th:each="group:${allGroups}">
                            <option th:text="${group.name}" th:value="${group.id}"></option>
                        </th:block>
                    </select>
                </label>
                <br>
                <label>Select a Lesson:</label>
                <label>
                    <select class="input_" required th:field="*{lesson}">
                        <th:block th:each="lesson:${allLessons}">
                            <option th:text="${lesson.number}" th:value="${lesson.id}"></option>
                        </th:block>
                    </select>
                </label>
                <br>
                <label>Select a Teacher:</label>
                <label>
                    <select class="input_" required th:field="*{teacher}">
                        <th:block th:each="teacher:${allTeachers}">
                            <option th:text="${teacher.firstName} + ' ' + ${teacher.lastName} + ' ' + ${teacher.middleName}"
                                    th:value="${teacher.id}"></option>
                        </th:block>
                    </select>
                </label>
            </div>
            <div th:if="${serviceExceptionOnAdd !=null}">
                <h5 style="color: red" th:text="${serviceExceptionOnAdd.getMessage()}"></h5>
            </div>
            <button class="btn btn-info" type="submit">Save Lecture</button>
        </form>
    </div>
</div>
</body>
</html>