<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link href="../static/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    <title>Schedule university</title>
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar"></div>
</header>

<div class="text-center">Lesson
    <div class="flex-container-table">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Number</th>
                <th scope="col">Duration</th>
                <th scope="col">Start Time</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${lesson.id}"></td>
                <td th:text="${lesson.number}"></td>
                <td th:text="${duration}"></td>
                <td th:text="${lesson.startTime}"></td>
                <td>
                    <a class="btn btn-sm" th:href="@{/lessons/edit/{id}(id=${lesson.id})}">
                        <span>Edit</span>
                    </a>
                    <a class="btn btn-danger" th:href="@{/lessons/delete/{id}(id=${lesson.id})}">
                        <span>Delete</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    Lectures
    <div class="flex-container-table">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Number</th>
                <th scope="col">Date</th>
                <th scope="col">Start time</th>
                <th scope="col">Audience</th>
                <th scope="col">Group</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="each_lecture: ${lectures}">
                <td th:text="${each_lecture.id}"></td>
                <td th:text="${each_lecture.number}"></td>
                <td th:text="${each_lecture.date}"></td>
                <td>
				<span th:each="each_lesson : ${each_lecture.lesson}">
					<span th:text="${each_lesson.startTime}"></span>
				</span>
                </td>
                <td>
				<span th:each="each_audience : ${each_lecture.audience}">
					<span th:text="${each_audience.number}"></span>
				</span>
                </td>
                <td>
				<span th:each="each_group : ${each_lecture.group}">
					<span th:text="${each_group.name}"></span>
				</span>
                </td>

                <td>
                    <a class="btn btn-sm" th:href="@{/lectures/edit/{id}(id=${each_lecture.id})}">
                        <span>Edit</span>
                    </a>
                    <a class="btn btn-danger" th:href="@{/lectures/delete/{id}(id=${each_lecture.id})}">
                        <span>Delete</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
