<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link href="../static/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    <title>Schedule university</title>
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar"></div>
</header>

<div class="flex-container-table">
    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="each_subject, iter: ${subjects}">
            <td th:text="${each_subject.id}"></td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/subjects/'} + ${subjects.get(iter.index).getId()}"
                   th:text="${each_subject.name}"></a>
            </td>
            <td>
                <a class="btn btn-sm" th:href="@{/subjects/edit/{id}(id=${each_subject.id})}">
                    <span>Edit</span>
                </a>
                <a class="btn btn-danger" th:href="@{/subjects/delete/{id}(id=${each_subject.id})}">
                    <span>Delete</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="wrapper">
    <div class="container">
        <h5>Save Subject</h5>
        <form action="#" method="POST" th:action="@{/subjects/add}"
              th:object="${subject}">
            <label>
                <input class="input_" placeholder="Subject name"
                       th:field="*{name}" type="text">
            </label>

            <button class="btn btn-info" type="submit">Save Subject</button>
        </form>
    </div>
</div>
</body>
</html>