<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Schedule university</title>
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar"></div>
</header>

<div class="flex-container-table" th:switch="${teachers}">
    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Faculty name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="each_teacher, iter : ${teachers}">
            <td th:text="${each_teacher.id}"></td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/teachers/'} + ${teachers.get(iter.index).getId()}"
                   th:text="${each_teacher.firstName}"></a>
            </td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/teachers/'} + ${teachers.get(iter.index).getId()}"
                   th:text="${each_teacher.lastName}"></a>
            </td>
            <td>
                <a style="text-decoration: none; color: black"
                   th:href="@{'/teachers/'} + ${teachers.get(iter.index).getId()}"
                   th:text="${each_teacher.middleName}"></a>
            </td>
            <td>
				<span th:each="each_faculty : ${each_teacher.faculty}">
					<span th:text="${each_faculty.name}"></span>
				</span>
            </td>
            <td>
                <a th:href="@{/teachers/edit/{id}(id=${each_teacher.id})}" class="btn btn-sm">
                    <span>Edit</span>
                </a>
                <a th:href="@{/teachers/delete/{id}(id=${each_teacher.id})}" class="btn btn-danger">
                    <span>Delete</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="wrapper">
    <div class="container">
        <h5>Save Teacher</h5>
        <form method="post" th:action="@{/teachers/add}" th:object="${teacher}">
            <label>
                <input placeholder="First name" th:field="*{firstName}" type="text" class="input_">
            </label>
            <label>
                <input placeholder="Last name" th:field="*{lastName}" type="text" class="input_">
            </label>
            <label>
                <input placeholder="Middle name" th:field="*{middleName}" type="text" class="input_">
            </label>

            <div class="div-inline-block">
                <label>Select a Faculty:</label>
                <label>
                    <select class="input_" th:field="*{faculty}" required>
                        <th:block th:each="faculty:${allFaculties}">
                            <option th:text="${faculty.name}" th:value="${faculty.id}"></option>
                        </th:block>
                    </select>
                </label>

            </div>
            <button type="submit" class="btn btn-info">Save Student</button>
        </form>
    </div>
</div>
</body>
</html>